@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --color-primary-50: oklch(97.05% 0.014 254.6);
  --color-primary-100: oklch(93.19% 0.032 255.59);
  --color-primary-200: oklch(88.23% 0.057 254.13);
  --color-primary-300: oklch(80.91% 0.096 251.81);
  --color-primary-400: oklch(71.37% 0.143 254.62);
  --color-primary-500: oklch(62.31% 0.188 259.81);
  --color-primary-600: oklch(54.61% 0.215 262.88);
  --color-primary-700: oklch(48.82% 0.217 264.38);
  --color-primary-800: oklch(42.44% 0.181 265.64);
  --color-primary-900: oklch(37.91% 0.138 265.52);

  --color-secondary-50: oklch(98.46% 0.002 247.84);
  --color-secondary-100: oklch(92.99% 0.033 272.79);
  --color-secondary-200: oklch(86.99% 0.062 274.04);
  --color-secondary-300: oklch(78.53% 0.104 274.71);
  --color-secondary-400: oklch(68.01% 0.158 276.93);
  --color-secondary-500: oklch(58.54% 0.204 277.12);
  --color-secondary-600: oklch(51.06% 0.23 276.97);
  --color-secondary-700: oklch(45.68% 0.215 277.02);
  --color-secondary-800: oklch(39.84% 0.177 277.37);
  --color-secondary-900: oklch(35.88% 0.135 278.7);

  --color-gray-50: oklch(98.46% 0.002 247.84);
  --color-gray-100: oklch(96.7% 0.003 264.54);
  --color-gray-200: oklch(92.76% 0.006 264.53);
  --color-gray-300: oklch(87.17% 0.009 258.34);
  --color-gray-400: oklch(71.37% 0.019 261.32);
  --color-gray-500: oklch(55.1% 0.023 264.36);
  --color-gray-600: oklch(44.61% 0.026 256.8);
  --color-gray-700: oklch(37.29% 0.031 259.73);
  --color-gray-800: oklch(27.81% 0.03 256.85);
  --color-gray-900: oklch(21.01% 0.032 264.66);

  --color-background-1: oklch(98.51% 0 0);
  --color-background-2: oklch(96.74% 0.001 286.38);
  --color-background-3: oklch(91.97% 0.004 286.32);
  --color-background-4: oklch(87.11% 0.005 286.29);

  --color-background-dark-1: oklch(21.03% 0.006 285.89);
  --color-background-dark-2: oklch(27.39% 0.005 286.03);
  --color-background-dark-3: oklch(37.03% 0.012 285.81);
  --color-background-dark-4: oklch(44.19% 0.015 285.79);

  --color-primary-rgb-100: 219, 234, 254;
  --color-primary-rgb-700: 29, 78, 216;
  --color-secondary-rgb-100: 224, 231, 255;
  --color-secondary-rgb-500: 99, 102, 241;

  --color-gradient-1: radial-gradient(
    var(--color-primary-700) 0%,
    var(--color-secondary-500) 100%
  );
  --color-gradient-2: conic-gradient(
    var(--color-primary-700) 4%,
    var(--color-secondary-500) 99%
  );
  --color-gradient-3: radial-gradient(
    var(--color-primary-700) 0%,
    var(--color-secondary-500) 100%
  );
  --color-gradient-4: linear-gradient(
    var(--color-primary-100) 0%,
    var(--color-secondary-100) 100%
  );
  --color-gradient-5: radial-gradient(
    color-mix(in srgb, var(--color-primary-700) 60%, transparent) 0%,
    color-mix(in srgb, var(--color-secondary-500) 60%, transparent) 100%
  );
  --color-gradient-6: linear-gradient(
    135deg,
    var(--color-primary-700) 4%,
    var(--color-secondary-500) 100%
  );
  --color-gradient-7: radial-gradient(
    var(--color-primary-900) 0%,
    var(--color-secondary-900) 100%
  );
  --color-gradient-8: radial-gradient(
    var(--color-primary-700) 0%,
    color-mix(in srgb, var(--color-secondary-500) 0%, transparent) 100%
  );
  --color-gradient-9: linear-gradient(#cfd0fc 0%, #fbd0ee 100%);
  --color-gradient-10: radial-gradient(#7c7eea 0%, #4c4d9d 100%);
  --color-gradient-text-1: linear-gradient(
    var(--color-primary-rgb-700) 4%,
    var(--color-secondar-rgb-500) 79%
  );
  --color-gradient-text-2: radial-gradient(
    var(--color-primary-300) 0%,
    var(--color-primary-200) 50%,
    var(--color-secondary-300) 100%
  );
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2101 0.0318 264.6645);
  --card: oklch(0.9299 0.0334 272.7879);
  --card-foreground: oklch(0.2101 0.0318 264.6645);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2101 0.0318 264.6645);
  --primary: var(--color-primary-700);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.9299 0.0334 272.7879);
  --secondary-foreground: oklch(0.2101 0.0318 264.6645);
  --muted: oklch(0.8091 0.0956 251.8128);
  --muted-foreground: oklch(0.4461 0.0263 256.8018);
  --accent: oklch(0.8823 0.0571 254.1284);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.81 0.1 252);
  --chart-2: oklch(0.62 0.19 260);
  --chart-3: oklch(0.55 0.22 263);
  --chart-4: oklch(0.49 0.22 264);
  --chart-5: oklch(0.42 0.18 266);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  /* --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  /* --background: oklch(0.2103 0.0059 285.8852); */
  --background: var(--color-gray-950);
  --foreground: oklch(0.9846 0.0017 247.8389);
  --card: oklch(0.9299 0.0334 272.7879);
  --card-foreground: oklch(0.2101 0.0318 264.6645);
  --popover: oklch(0.2101 0.0318 264.6645);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.4882 0.2172 264.3763);
  --primary-foreground: oklch(0.9846 0.0017 247.8389);
  --secondary: oklch(0.9705 0.0142 254.6042);
  --secondary-foreground: oklch(0.4882 0.2172 264.3763);
  --muted: oklch(0.7137 0.1434 254.624);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.6231 0.188 259.8145);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.275 0 0);
  --input: oklch(0.325 0 0);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.81 0.1 252);
  --chart-2: oklch(0.62 0.19 260);
  --chart-3: oklch(0.55 0.22 263);
  --chart-4: oklch(0.49 0.22 264);
  --chart-5: oklch(0.42 0.18 266);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.275 0 0);
  --sidebar-ring: oklch(0.439 0 0);
  /* --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    /* 隐藏滚动条但保持滚动功能 */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }

  body {
    /* 确保body也隐藏滚动条 */
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  /* 对所有可滚动元素应用隐藏滚动条 */
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .hero-bg {
    background-image: url("/hero.svg"),
      linear-gradient(
        -45deg,
        rgba(var(--color-primary-rgb-100), 1) 0%,
        rgba(var(--color-secondary-rgb-100), 0.5) 100%
      );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .dark .hero-bg {
    background-image: radial-gradient(
      ellipse farthest-side at top,
      rgba(var(--color-primary-rgb-700), 1) 0%,
      rgba(var(--color-secondary-rgb-500), 0) 100%
    );
  }
  .menu-hero-bg {
    background-image: var(--color-gradient-6);
  }
  .hero-text-gradient {
    background-image: linear-gradient(
      var(--color-primary-700) 4%,
      var(--color-secondary-500) 79%
    );
  }
  .dark .hero-text-gradient {
    background-image: radial-gradient(#93c5fd 0%, #bfdbfe 50%, #93c5fd 100%);
  }
}
